<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
    <ul class="nav navbar-nav menu_nav ml-auto">
        <li class="nav-item"><a class="nav-link" href="{{ url_for('homepage') }}">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('courses') }}">Courses</a></li>
        <li class="nav-item submenu dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                aria-expanded="false">School Life</a>
            <ul class="dropdown-menu">
                <li class="nav-item"><a class="nav-link" href="{{ url_for('classes') }}">Classes</a>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('calendar') }}">Calendar</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('alumni') }}">Alumni</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('admin') }}">Admin</a></li>
            </ul>
        </li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('gallery') }}">Gallery</a></li>
        <li class="nav-item submenu dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                aria-expanded="false">Results</a>
            <ul class="dropdown-menu">
                <li class="nav-item"><a class="nav-link" href="{{ url_for('result') }}">WAEC Results</a></li>
            </ul>
        </li>
        <li class="nav-item submenu dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                aria-expanded="false">Admissions</a>
            <ul class="dropdown-menu">
                <li class="nav-item"><a class="nav-link" href="{{ url_for('apply_admis') }}">Apply for Admission</a></li>
            </ul>
        </li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('contact') }}">Contact</a></li>
    </ul>
</div>