<section class="feature">
    <h3 class="feature-header">Alumni Requests</h3>
       <table class="table table-bordered">
            <thead style="text-align: center;">
                <tr style="background: dodgerblue; color: #fff;">
                    <th scope="col" class="px-1">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Year</th>
                    <th scope="col">Action</th>
                    <th scope="col">Exists</th>
                </tr>
            </thead>
            <tbody style="text-align: center;">
            {% if context['requests'] %}
            {% for request in context['requests'] %}
            <tr>

            <td scope="row" class="px-1" style="background: dodgerblue;color: white;">
               {{ loop.index }}
            </td>
                <td>{{ request.name }}</td>
                <td>{{ request.year }}</td>
                <td>
                    <a href="{{ url_for('admin.update_alumni', value=1, pos=request.id) }}">Accept</a>
                    /
                    <a href="{{ url_for('admin.update_alumni', value=0, pos=request.id) }}">Reject</a>
                </td>
                <td>{% if context['ref'][request.name] %}
                        <span>Yes</span>
                    {% else %}
                        <span href="#">No</span>

                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            {% else %}
                <tr>
                    <td colspan="5">No Requests for Now</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
</section>
