{% extends "layout.html" %}


{% block body %}
    <section class="home_banner_area blog_banner">
        <div class="banner_inner d-flex align-items-center">
            <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
            <div class="container">
                <div class="banner_content text-center">
                    <h2>Take a Step closer to <br /> your Future.</h2>
                    <p>It takes many step to get to the future. <br/> It is step by step.</p>
                </div>
            </div>
        </div>
    </section>
    <!--================End Home Banner Area =================-->

	<!--================Contact Area =================-->
	<div>
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				{% for message in messages %}
		<div class="alert alert-warning alert-dismissible fade show text-center" role="alert">
				{{ message }}
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
	
				{% endfor %}
			{% endif %}
		{% endwith %}
	 </div>
	 


	{% include 'includes/messages.html' %}
    <div class="whole-wrap">
        <div class="container">
			<div class="section-top-border">
				<div class="row mb-30 mt-10">
					<div class="col-lg-3 col-md-3"></div>
					<div class="col-lg-6 col-md-6 admission-form">
						<h3 class="mb-30 title_color">Admission Form</h3>
						<form action="{{ url_for('apply_admis') }}" method="POST">
							<label for="firstname"><span style="font-size: 15px;font-weight: bold;">Firstname:</span>
								<input type="text" id="firstname" name="firstname" class="form-control" placeholder="Enter your name" maxlength="24" required/>
							</label><br>
							<label for="lastname"><span style="font-size: 15px;font-weight: bold;">Lastname:</span>
									<input type="text" id="lastname" name="lastname" class="form-control" placeholder="Enter your Surname" maxlength="24" required/>
							</label><br>
							<label for="email"><span style="font-size: 15px;font-weight: bold;">Email:</span>
								<input type="email" id="email" name="email" class="form-control" placeholder="Enter your Email" required/>
							</label><br>
							<label for="dob"><span style="font-size: 15px;font-weight: bold;">Date of Birth:</span>
								<input type="date" id="dob" name="dob" class="form-control" placeholder="Enter your Date of Birth" required/>
						</label><br>
							<label for="gender"><span style="font-size: 15px;font-weight: bold;">Gender:</span>
									<select name="gender" id="gender" class="form-control">
										<option value="male">M</option>
										<option value="female">F</option>
									</select>
							</label><br>
							<label for="class"><span style="font-size: 15px;font-weight: bold;">Class:</span>
									<select name="class" id="class" class="form-control">
										<optgroup class="Primary">
											<option value="Basic-1">Grade-1/Basic-1</option>
											<option value="Basic-2">Grade-2/Basic-2</option>
											<option value="Basic-3">Grade-3/Basic-3</option>
											<option value="Basic-4">Grade-4/Basic-4</option>
											<option value="Basic-5">Grade-5/Basic-5</option>
											<option value="Basic-6">Grade-6/Basic-6</option>
										</optgroup>
										<optgroup class="Secondary">
											<option value="J.S.S.1">Grade-7/Jss-1</option>
											<option value="J.S.S.2">Grade-8/Jss-2</option>
											<option value="J.S.S.3">Grade-9/Jss-3</option>
											<option value="S.S.S.1">Grade-10/Sss-1</option>
											<option value="S.S.S.2">Grade-11/Sss-2</option>
											<option value="S.S.S.3">Grade-12/Sss-3</option>
										</optgroup>
									</select>
							</label><br>
							<label for="languages"><span style="font-size: 15px;font-weight: bold;">Language:</span>
								<select name="languages" id="languages" class="form-control">
									<option value="English" class="option selected focus">English</option>
									<option value="Spanish" class="option">Spanish</option>
									<option value="French" class="option">French</option>
									<option value="Portuguise" class="option">Portuguise</option>
									<option value="Yoruba" class="option">Yoruba</option>
									<option value="Other" class="option">Other</option>
								</select>	
							</label><br>
							<label for="address"><span style="font-size: 15px;font-weight: bold;">Address:</span>
								<textarea name="address" id="address" cols="30" rows="2" class="form-control" required='required' placeholder="Enter your address"></textarea>
							</label><br>
							<label for="number"><span style="font-size: 15px;font-weight: bold;">Number:</span>
								<input type="number" id="number" name="number" class="form-control" placeholder="Enter your phone number" required/>
							</label><br>
							<br>
							<button type="submit" value="register" class="btn submit_btn">Submit</button>
							
						</form>
					</div>
					<div class="col-lg-3 col-md-3"></div>
				</div>
			</div>
        </div>
	</div>
{% endblock %}