{% extends "layout.html" %}


{% block body %}
	<section class="banner_area">
		<div class="banner_inner d-flex align-items-center">
			<div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
			<div class="container">
				<div class="banner_content text-center">
					<h2>Classes</h2>
					<div class="page_link">
						<a href="/">Home</a>
						<a href="/classes/">Classes</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Home Banner Area =================-->

	<!--================Courses Area =================-->
	<section class="courses_area p_120">
		<div class="container">
			<div class="main_title">
				<h2>Classes</h2>
				<p>There is a moment in the life of any aspiring astronomer that it is time to buy that first telescope. It’s exciting to think about setting up your own viewing station.</p>
			</div>
			<div class="row courses_inner">
				<div class="col-lg-9">
					<div class="grid_inner">
						<div class="grid_item wd55">
							<div class="courses_item">
								<img src="{{ url_for('static', filename='img/courses/course-1.jpg') }}" alt="">
									<a href="##"><h4>Basic Classes</h4></a>
							</div>
						</div>
						<div class="grid_item wd44">
							<div class="courses_item">
								<img src="{{ url_for('static', filename='img/courses/course-2.jpg') }}" alt="">
									<a href="##"><h4>Junior Classes</h4></a>
							</div>
						</div>
						<div class="grid_item wd44">
							<div class="courses_item">
								<img src="{{ url_for('static', filename='img/courses/course-4.jpg') }}" alt="">
									<a href="##"><h4>Science Class</h4></a>
							</div>
						</div>
						<div class="grid_item wd55">
							<div class="courses_item">
								<img src="{{ url_for('static', filename='img/courses/course-5.jpg') }}" alt="">
									<a href="##"><h4>Commercial Class</h4></a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="course_item">
						<img src="{{ url_for('static', filename='img/courses/course-3.jpg') }}" alt="">
							<a href="##"><h4>Art Class</h4></a>
					</div>
				</div>
			</div>
		</div>
		<style>
			.course_item div.hover_text>a>h4:hover {
				color: dodgerblue;
			}
			.courses_item div.hover_text>a>h4:hover {
				color: dodgerblue;
			}
			.courses_item div.hover_text:hover {
				color: dodgerblue;
			}
		</style>
	</section>
        <!--================End Courses Area =================-->
{% endblock %}
