{% extends "layout.html" %}

		<!-- Collect the nav links, forms, and other content for toggling -->
{% block div %}
	<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
		<ul class="nav navbar-nav menu_nav ml-auto">
			<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
			<li class="nav-item"><a class="nav-link" href="/courses/">Courses</a></li>
			<li class="nav-item submenu dropdown active">
				<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">School Life</a>
				<ul class="dropdown-menu">
					<li class="nav-item"><a class="nav-link" href="/classes/">Classes</a>
					<li class="nav-item"><a class="nav-link" href="/term-dates/">Term Dates</a></li>
<li class="nav-item"><a class="nav-link" href="/alumni/">Alumni</a></li>
				</ul>
			</li>
<li class="nav-item"><a class="nav-link" href="/gallery/">Gallery</a></li>
			<li class="nav-item submenu dropdown">
				<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Results</a>
				<ul class="dropdown-menu">
					<li class="nav-item"><a class="nav-link" href="/result/">WAEC Results</a></li>
				</ul>
			</li>
			<li class="nav-item submenu dropdown">
				<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admissions</a>
				<ul class="dropdown-menu">
					<li class="nav-item"><a class="nav-link" href="/apply-admis/">Apply for Admission</a></li>
				</ul>
			</li>
			<li class="nav-item"><a class="nav-link" href="/contact/">Contact</a></li>
		</ul>
	</div>
{% endblock %}
{% block body %}
    <section class="banner_area">
        <div class="banner_inner d-flex align-items-center">
            <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
            <div class="container">
                <div class="banner_content text-center">
                    <h2>Term Dates</h2>
                    <div class="page_link">
                        <a href="/">Home</a>
                        <a href="/term-dates/">Term Dates</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Home Banner Area =================-->
    <!--================Start Date Area=================-->
    <section class="blog_categorie_area">
        <div class="container">
            <div class="row">
                {% for dates in term_dates %}
                <div class="col-lg-40" style="padding:5px;">
                    <div class="categories_post">
                        <img src="{{ url_for('static', filename='img/gallery/a2.jpg') }}" style="opacity: 0.8;" alt="post">
                        <div class="categories_details">
                            <div class="categories_text">
                                <a href="##"><h5>{{ dates[0] }}</h5></a>
                                <div class="border_line"></div>
                                <p>{{ dates[1] }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            </div>
        </div>
    </section>
    <!--================End Dates Area=================-->

{% endblock %}